<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>SMU Capstone | Welcome</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="static/css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/dark.css">
        <link id="color-changer" rel="stylesheet" href="static/css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-welcome relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="author-image-large">
                        <img src="static/img/welcome.jpg" alt="">
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="page-title">
                                    <h2><span class="primary">Welcome</span> <span class="title-bg">Welcome</span></h2>
                                    <p>As an all-female group in this Data Science Capstone Project, we wanted to analyze the wage gap in the workplace. Is the well-known quote, “Women make $.78 on the dollar” still true today?
                                        Is the gender wage gap closing or expanding? Did Covid affect the wage gap? In the recent years there has been a lot of talk in the media and companies making an effort to close the gap
                                        in both number of females in the workplace and closing the gap in wages between men and women. But what is the current state of the gender wage gap and is it lessening with time? 
                                        Explore our site to find out.</p>
                                   <p><a class="link" href="/macrodash"><b>Macro Dashboard</b></a> - Here we analyze the gender wage gap at the national and state levels. Analyzing the past 6 years of salary data from the US BLS, we found that on a national level,
                                        there hasn't been a drastic change. It fluctuated between 81 to 82 percent over this timeframe. The gap between 2019 and 2020 remained unaffected by the Covid-19 Pandemic. </p>
                                   <p><a class="link" href="/microdash"><b>Micro Dashboard</b></a> - Taking it one step further we used a Glassdoor data set to analyze the average earning of men and women at the occupational level. When comparing like job title, education level, age, and seniority,
                                        there were many instances of women making close to equal if not more than their male equivalent.   </p>
                                   <p><a class="link" href="/calculator"><b>Salary Calculator</b></a> - Using a Glassdoor data set, we've created a machine learning model to predict a person's salary based on title, gender, department and seniority. </p>

                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="/" class="link">&larr; Prev Page</a></span>
                                <span class="next-page"><a href="/macrodash" class="link">Next Page &rarr;</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/jquery.easing.min.js"></script>
        <script src="static/js/isotope.pkgd.min.js"></script>
        <script src="static/js/jquery.nicescroll.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/jquery-validation.min.js"></script>
        <script src="static/js/form.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>