<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>SMU Capstone | Works Cited</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="static/css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/dark.css">
        <link id="color-changer" rel="stylesheet" href="static/css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <!-- <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c0" data-color="color-0" title="Default">Default</li>
                    <li class="c1" data-color="color-1" title="Red">Red</li>
                    <li class="c2" data-color="color-2" title="Green">Green</li>
                    <li class="c3" data-color="color-3" title="Blue">Blue</li>
                </ul>
            </div>
        </div> -->

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-quotes relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>Works <span class="primary">Cited</span><span class="title-bg">Works Cited</span></h2>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> -->
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <section class="works-cited section">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="block">
                                        <!-- <i class="tf-ion-ios-copy-outline"></i> -->
                                        <a class="link" href="https://www.bls.gov/cps/earnings.htm#demographics" ><h3>U.S. Bureau of Labor and Statistics</h3></a>
                                        <p>Annual Report: Highlight of Women's Earnings 2015-2020
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="block">
                                        <!-- <i class="tf-ion-ios-alarm-outline"></i> -->
                                        <a class="link" href="https://www.kaggle.com/nilimajauhari/glassdoor-analyze-gender-pay-gap" ><h3>Kaggle - Glassdoor</h3></a>
                                        <p>The data set has been taken from glassdoor and focuses on income for various job titles based on gender. 
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="block">
                                        <!-- <i class="tf-ion-ios-book-outline"></i> -->
                                        <a class="link" href="https://www.kaggle.com/paultimothymooney/latitude-and-longitude-for-every-country-and-state" ><h3>Kaggle - Latitude and Longitude</h3></a>
                                        <p>GPS coordinates for every world country and every USA state
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="block">
                                        <!-- <i class="tf-ion-ios-copy-outline"></i> -->
                                        <a class="link" href="https://themefisher.com/products/phantom-best-bootstrap-portfolio-template/" ></a><h3>ThemeFisher</h3></a>
                                        <p>Phantom Bootstrap and HTML5 Template
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="block">
                                        <!-- <i class="tf-ion-ios-alarm-outline"></i> -->
                                        <h3>Glassdoor Economic Research</h3>
                                        <p>How to Analyze Your Gender Pay Gap: An Employer’s Guide
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="block">
                                        <!-- <i class="tf-ion-ios-book-outline"></i> -->
                                        <a class="link" href="https://blog.datawrapper.de/gendercolor/" ></a><h3>Color Inspiration</h3></a>
                                        <p>"An alternative to pink & blue: Colors for gender data" by Lisa Charlotte Muth
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="/execsum" class="link">&larr; Prev Page</a></span>
                                <!-- <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span> -->
                                <span class="next-page"><a href="/aboutus" class="link">Next Page &rarr;</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/jquery.easing.min.js"></script>
        <script src="static/js/isotope.pkgd.min.js"></script>
        <script src="static/js/jquery.nicescroll.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/jquery-validation.min.js"></script>
        <script src="static/js/form.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>