<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>SMU Capstone | About Us</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="static/css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/dark.css">
        <link id="color-changer" rel="stylesheet" href="static/css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <!-- <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c0" data-color="color-0" title="Default">Default</li>
                    <li class="c1" data-color="color-1" title="Red">Red</li>
                    <li class="c2" data-color="color-2" title="Green">Green</li>
                    <li class="c3" data-color="color-3" title="Blue">Blue</li>
                </ul>
            </div>
        </div> -->

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-contact relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title2 text-center">
                                    <h2>About  <span class="primary">Us</span> <span class="title-bg">About</span></h2>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> -->
                                    <br>
                                </div>
                            </div>                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 column" class="card">
                                <img width="250" height="300" src="static/img/ali_bio2.jpg" style="width:100%">
                                <h2>Alisha Hill-McElroy</h2>
                                <p class="title">Tableau Designer</p>
                                <hr>
                                <p>Ali’s career reflects more than 12 years of experience in the areas of Health Data Management, Analysis, Compliance, and 
                                    Program Management for large and complex healthcare operations. The new skill set learned from the Data Science Boot Camp 
                                    has produced a passion for Data Cleaning and Visualizations. </p>
                                <ul class="contact-social">
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="https://www.linkedin.com/in/alisha-hill-mcelroy/"target="_blank"><i class="tf-ion-social-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="https://github.com/AlishaSHM"target="_blank"><i class="tf-ion-social-github"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="mailto:alishashill84@gmail.com"><i class="tf-envelope2"></i></a>
                                    </li>
                                </ul>
                            </div> <!-- /.column -->

                            <div class="col-md-4 column" class="card">
                                <img width="250" height="300" src="static/img/erika_bio.jpg" style="width:100%">
                                <h2>Erika Houle</h2>
                                <p class="title">Machine Learning</p>
                                <hr>
                                <p>Ericka is a Navy Veteran. She is currently transitioning careers from Nuclear Power into the Software Industry as a Systems Engineer. When she is not working she is 
                                    actively volunteering in the community through Dallas CASA by helping children in the foster system.</p>
                                <ul class="contact-social">
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="https://www.linkedin.com/in/ericka-houle/"target="_blank"><i class="tf-ion-social-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="https://github.com/ErickaHoule"target="_blank"><i class="tf-ion-social-github"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="mailto:tink24909@gmail.com"><i class="tf-envelope2"></i></a>
                                    </li>
                                </ul>
                            </div> <!-- /.column -->



                            <div class="col-md-4 column" class="card">
                                <img width="250" height="300" src="static/img/kelli_bio.jpg" style="width:100%">
                                <h2>Kelli Smith</h2>
                                <p class="title">Site Construction, Tableau Designer</p>
                                <hr>
                                <p>Kelli is currently a Sales Ops Manager at a SaaS company. She is passionate about data. Her experience spans the full life cycle of data - from collection, 
                                    storage, quality assurance to visualization, with a focus on multifamily realestate, client retention and sales metrics. </p>                                    
                                <ul class="contact-social">
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="https://www.linkedin.com/in/kelli-smith-6844323b/"target="_blank"><i class="tf-ion-social-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="https://github.com/KelliDSmith"target="_blank"><i class="tf-ion-social-github"></i></a>
                                    </li>
                                    <li>
                                        <span class="contact-social-hex"></span>
                                        <a href="mailto:kelligibsonsmith@gmail.com"><i class="tf-envelope2"></i></a>
                                    </li>
                                </ul>
                            </div> <!-- /.column -->
                        </div> <!-- /.row --> 
                    </div> <!-- /.container -->
                    <br>
                    <br>


                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="/workscited" class="link">&larr; Prev Page</a></span>
                                <!-- <span class="copyright hidden-xs">Copyright &copy; 2016 Phantom, All Rights Reserved.</span> -->
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->

        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/jquery.easing.min.js"></script>
        <script src="static/js/isotope.pkgd.min.js"></script>
        <script src="static/js/jquery.nicescroll.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/jquery-validation.min.js"></script>
        <script src="static/js/form.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>